body { font-family: Helvetica; font-size: 12pt; }
#input { font-family: Courier; }
#rconsole { font-family: Courier; }
pre { margin: 0 }
#input { 
    /* position: absolute; */
    /* min-height: 100px; */
    width: 70%;
    border-left: solid red 10px;
    font-size: 14pt;
    /* top: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 0; */
}
#rconsole {
    width: 70%;
}

#logmessages {
    width: 29%;
    float: right;

}
