@media screen {
    body
    {
	padding-top: 5rem;
	font-family: 'Noto Sans Bengali', 'Noto Serif';
    }
}

@media print {
    body
    {
	font-family: 'Noto Sans Bengali', 'Noto Serif';
    }
}

h1.title { text-align: left; }
p.author { text-align: left; }

img
{
    display: block;
    !margin-left: auto;
    !margin-right: auto;
    width: 100%;
}

pre.highlight
{
    padding: 0.5em;
    font-weight: normal;
    font-size: 90%;
}

h1, h2, h3
{
    font-family: 'Noto Sans Bengali', 'Noto Serif';
}
h3 { font-style: italic; }


.carousel-control-next-icon, .carousel-control-prev-icon
{
    color: black;
    background-image: none;
}

