
h1.title { text-align: center; }
p.author { text-align: center; }

img
{
    display: block;
    !margin-left: auto;
    !margin-right: auto;
    width: 100%;
}

pre.highlight
{
    padding: 0.5em;
    font-weight: normal;
    font-size: 90%;
}

@media screen {
    body
    {
	font-family: 'Noto Sans TC';
    }
    h1, h2, h3
    {
	font-family: 'Noto Serif TC';
    }
}


@media print {
    body
    {
	font-family: 'Noto Serif TC';
    }
}


