<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <meta name="author" content="Deepayan Sarkar" />
  <title>{{ page.title }}</title>

  <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

  <link rel="stylesheet" href="/assets/styles/rouge.css">  <!-- syntax highlighting -->
  <link rel="stylesheet" href="/assets/styles/custom.css"> <!-- custom styles -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto Serif" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto Sans" >
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansbengali.css" >

  {% if page.mathjax %}
  {% include mathjax.html %}
  {% endif %}

</head>

<body>
  <div id="page-content">
    <section>

      <nav class="navbar navbar-expand fixed-top" id="topnav">
	<div class="container-fluid">

	  <div class="navbar-header">
	    <div class="btn-group navbar-nav nav-item dropdown">
	      <a href="/" class="btn nav-link" role="button">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="32" height="32">
		  <path fill-rule="evenodd" d="M16 9l-3-3V2h-2v2L8 1 0 9h2l1 5c0 .55.45 1 1 1h8c.55 0 1-.45 1-1l1-5h2zm-4 5H9v-4H7v4H4L2.81 7.69 8 2.5l5.19 5.19L12 14z"></path>
		</svg>
		<span class="sr-only">Home<>
	      </a>
	      <button type="button" class="btn nav-link"
		      data-toggle="dropdown" aria-haspopup="true"
		      aria-expanded="false">
                 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16" width="24" height="32">
                   <path fill-rule="evenodd" d="M11.41 9H.59C0 9 0 8.59 0 8c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zm0-4H.59C0 5 0 4.59 0 4c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zM.59 11H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1H.59C0 13 0 12.59 0 12c0-.59 0-1 .59-1z">
                   </path>
                 </svg>
	      </button>
	      <div class="dropdown-menu">
		<span class="dropdown-item" role="button">
		  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="24" height="24">
		    <path fill-rule="evenodd" d="M3 5h4v1H3V5zm0 3h4V7H3v1zm0 2h4V9H3v1zm11-5h-4v1h4V5zm0 2h-4v1h4V7zm0 2h-4v1h4V9zm2-6v9c0 .55-.45 1-1 1H9.5l-1 1-1-1H2c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h5.5l1 1 1-1H15c.55 0 1 .45 1 1zm-8 .5L7.5 3H2v9h6V3.5zm7-.5H9.5l-.5.5V12h6V3z"></path>
		  </svg>
		  Contents
		</span>

{% include toc.html html=content sanitize=false class="list-group" item_class="list-group-item" h_min=1 h_max=1 %}

	      </div>
	    </div>
	  </div>

	</div>
      </nav>


      <div class="container-sm">
	<header>
	  <h1 class="title">{{ page.title }}</h1>
	  <p class="author">{{ page.author }}</p>
	</header>
	<hr class="hr-primary"/>

	{{ content }}

      </div>
    </section>
  </div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous">
</script>

<script src="https://majantali.github.io/assets/scripts/jquery.bootstrap-autohidingnavbar.js"
	crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous">
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous">
</script>

<!-- FIXME: make this customizable using a YML tag -->

<script type="text/javascript">
// Javascript to set up hiding and toggling of code blocks

$(document).ready(
    function() {
	// console.log("ready");
	$( "div.highlighter-rouge" ).addClass( "sourceCode" );
	$( "div.sourceCode" ).addClass( "collapse" );
	$("#topnav").autoHidingNavbar();
    }
);
</script>

</body>
</html>
